<div>
    <h1>Registro</h1>
    <div id="loginTexBox">
        <label id="lblNombre">Nombre: </label>
        <input type="text" id="inputNombre" />
        <label id="lblApellido">Apellido: </label>
        <input type="text" id="inputApellido" />
        <label id="lblPassword">Contraseña: </label>
        <input type="text" id="inputPassword" />
        <label id="lblEmail">Email: </label>
        <input type="text" id="inputEmail" />
        <label id="lblEdad">Edad: </label>
        <input type="text" id="inputEdad" />
        <button id="btnRegistrarse">Registrarse</button>
        <button id="btnVolver">Volver</button>
    </div>
</div>