<div>
    <h1>Login</h1>
    <div id="loginTexBox" > 
        <label id="lblEmail">Email: </label>       
        <input type="text" id="inputEmail" />
        <label id="lblEmail">Contraseña: </label>       
        <input type="text" id="inputPassword" />
        <button id="btnIngresar">Ingresar</button>
        <button id="btnRegistrarse">Registrarse</button>
    </div>
</div>